.burger {
  top: 0;
  left: -110%;
  width: 290px;
  overflow: auto;
  transition: all 0.3s ease 0s;
  z-index: 2;

  &__active {
    padding: 70px 10px 20px;
    left: 0;
  }

  &__line {
    display: block;
    position: relative;
    top: 1px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: white;
    border-radius: 5px;

    &_two {
      top: 6px;
    }

    &_three {
      top: 11px;
    }
  }
}
